/*General body style for the web app site, using a neat and easy to read font*/
body {
    font-family: 'Helvetica Neue', sans-serif; 
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
}

/* Defined styles for headers, chose turquoise to match the turquoise and grey theme on the site*/
header {
    /*Hexadecial colour code for turquoise*/
    background-color: #48b9b9;
    color: #fff;
    padding: 1em;
    text-align: center;
}

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

        header nav ul li {
            display: inline-block;
            margin: 0 15px;
        }

            header nav ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }

/* Defined a card container to contain each newly created venue, event and booking. This is a neat way to display all the 
    info linked to one item at once and allows to easily differenciate between created items */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*Defined a card held withing the card container*/
.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

    .card h3 {
        margin-top: 0;
        font-size: 1.5em;
    }

    .card p {
        margin: 10px 0;
    }

/* Place holder sample image for venues, styled to display within a card */
.venue-image {
    width: 95%; /* Adjust width as needed */
    height: auto;
    border-radius: 10px; /* Optional: adds rounded corners */
    margin-bottom: 10px; /* Optional: adds space below the image */
}


/* Defined buttons for consistancy */
.btn {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #48b9b9; /* Turquoise */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;

}

/*Added a button hover effect*/
    .btn:hover {
        background-color: #3a9898;
    }

/* Set the colour of the buttons to turquoise, keeping site colour formatting consistant */
.btn-turquoise {
    background-color: #48b9b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

    .btn-turquoise:hover {
        background-color: #3a9898;
    }

/* Defined the footer styles for the site */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*-----------------------------EOF---------------------------------*/