@model ST10434135_CLDV6211_Part1.Models.Venues

@{
    ViewBag.Title = "Venue Details";
}

<h2>Venue Details</h2>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class
