@{
    ViewBag.Title = "Home";
}

<h2>Welcome to EventEase Event Management!</h2>
<p>Easily manage event bookings and more, on this staff only web app.</p>
<p> </p>
<p> </p>
<h3><b></b>Instructions:</b></h3>
<p> </p>
<p> 1. To utilize the site: First select a venue (or create a new venue). Second, Add the event being booked, ensuring to add the correct Venue ID. 
</p>Lastly, Create a booking for the event at the chosen venue. </p>
<p> </p>
<p>2. Use the navigation bar to access different sections of the platform such as Venues, Bookings, Events and Specialists.</p>
<p> 3. This web applications allows for bookings specialists to:</p>
<p>Add, Update, View details and Delete Venue information, Bookings, events, add current specialists, as well as find client, booking and Venue information.</p>


